<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Testing</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

  </script>
</head>
<body>

<header th:insert="~{header::header}"></header>

<div th:replace="~{notificationevent}"></div>

<div class="container mt-5">
    <h1>Notifications</h1>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.notificationId}"></td>
            <td th:text="${notification.notificationMessage}"></td>
            <td th:text="${notification.notificationTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="~{footer::footer}">Footer</footer>

</body>
</html>